:root {
    --heading-font-size: 3.5rem;
    --subheading-font-size: 3.0rem;
    --body-font-size: 1.8rem;

    --nav-color: #019DCB;
}

body {
    max-width: 1920px;
    margin: 0 auto;
}

header {
    position: relative;
    background: url('/FrontEnd/public/assets/images/header_background.png') no-repeat center center/cover;

    padding-top: 30px;
    min-height: 940px;
}

header img {
    margin-top: 150px;
    margin-left: 125px;
    max-width: 700px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;

    width: 100%;

    list-style: none;
}

nav ul li .line {
    width: 2px;
    height: 16px;

    background-color: var(--nav-color);
}

nav ul li a {
    text-decoration: none;
    color: var(--nav-color);

    font-size: var(--body-font-size);
    font-weight: bold;
}


.carousel {
    position: relative;
    max-width: 687px;
    height: 500px;
    border-radius: 50px;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;

    height: 100%;
}

.carousel-inner img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    border-radius: 50px;
}

.carousel-item {
    transition: opacity 0.5s ease;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: white;
    font-size: 25px;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

.problem-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;

    margin: 60px 125px;
}

.problem-section h1 {
    font-size: var(--heading-font-size);
    margin-bottom: 10px;
}

.problem-section p {
    text-align: justify;
    font-size: var(--body-font-size);

    max-width: 816px;
}

.solution-section {
    position: relative;
    background: url('/FrontEnd/public/assets/images/section_background.png') no-repeat center center/cover;
    padding: 60px 120px;
}

.solution-section h1 {
    font-size: var(--heading-font-size);
    margin-bottom: 60px;
    color: white;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    max-width: 343px;
    padding: 20px 20px 40px 20px;

    border-radius: 20px;
    background-color: #f8f8f8;
}

.card img {
    max-width: 350px;
    height: 100px;
    border-radius: 20px;
    margin: 24px 0;

    background-color: white;
}

.card h2 {
    font-size: var(--subheading-font-size);
    margin: 15px 0;
    text-align: center;
}

.card p {
    font-size: var(--body-font-size);
    text-align: justify;
}